body{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
   color:white;
}
main{
    background-image: linear-gradient(to top, #f43b47 0%, #453a94 100%);
    border: black solid 1px;
    height: 300px;
 
}
span{
    font-size: 30px;
}
button{
   padding: 10px;
    border: rgb(37, 33, 33) 1px solid;
    background-color:#453a94;
    color: white;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}
button:hover{
    background-color: white;
    color:#453a94;
   border-color: white;
}
